html, body {
    font-family: 'Merriweather Sans', 'Raleway', 'Open Sans', 'Merriweather Sans', sans-serif;
    font-weight: 300;
    background-color: #fff;
}

h1 {
  font-size: 25px !important;
  margin-top: 10px !important;
}

b {
  font-weight: 600;
}

.my-nav a.navbar-brand {
    font-size: 22px;
    color: white;
}

.my-nav .collapse span {
    color: white;
}

.my-nav .navbar-collapse ul li a {
    color: white !important;
    text-decoration: none;
}

section {
    min-height: 100vh;
    padding-top: 57px;
    border-bottom: dashed 1px #ccc;
}

#home {
  height: 100vh;
}

.hero {
    height: 100%;
    background: url("../images/hero.jpg") left bottom no-repeat;
}

.hero-text {
    text-align: center;
    color: black;
    padding-top: 20px;
}

.hero-text h1 {
    font-size: 25px;
}

.hero-text p {
    font-size: 15px;
    font-style: normal;
    color: black;
}

.sec {
    padding: 0 20px;
    margin-top: 20px;
    background: #fbfbfb;
}

.links, .links_skills, .links_travel {
    margin: 20px 20px 0 auto;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 7px;
    background: white;
    min-width: 100px;
}

.links a, .links_skills a, .links_travel a {
    color: black;
    text-decoration: none;
}

.links:hover, .links_skills:hover, .links_travel:hover  {
    border: solid 1px #333;
}

.links img, .links_skills img, .links_travel img {
  height: 64px;
  width: 64px;
}

.links_skills.a_link img {
    background: url('../images/skill_icon.png') 0 0px no-repeat;
}

.links_skills.b_link img {
    background: url('../images/skill_icon.png') 0 -64px no-repeat;
}

.links_skills.c_link img {
    background: url('../images/skill_icon.png') 0 -128px no-repeat;
}

.links_skills.d_link img {
    background: url('../images/skill_icon.png') 0 -192px no-repeat;
}

.links_skills.e_link img {
    background: url('../images/skill_icon.png') 0 -256px no-repeat;
}

.links_skills.f_link img {
    background: url('../images/skill_icon.png') 0 -320px no-repeat;
}

.links_skills.g_link img {
    background: url('../images/skill_icon.png') 0 -384px no-repeat;
}

.links_skills.h_link img {
    background: url('../images/skill_icon.png') 0 -448px no-repeat;
}

.links_skills.i_link img {
    background: url('../images/skill_icon.png') 0 -512px no-repeat;
}

.links_skills.j_link img {
    background: url('../images/skill_icon.png') 0 -576px no-repeat;
}

.links_skills.k_link img {
    background: url('../images/skill_icon.png') 0 -640px no-repeat;
}

.links_skills.l_link img {
    background: url('../images/skill_icon.png') 0 -704px no-repeat;
}

.links_travel.a_link img {
  background: url('../images/travel_icon.png') 0 0px no-repeat;
}

.links_travel.b_link img {
  background: url('../images/travel_icon.png') 0 0px no-repeat;
}

.links_travel.c_link img {
  background: url('../images/travel_icon.png') 0 0px no-repeat;
}

.links_travel.d_link img {
  background: url('../images/travel_icon.png') 0 0px no-repeat;
}

.links_travel.e_link img {
  background: url('../images/travel_icon.png') 0 0px no-repeat;
}

.links_travel.f_link img {
  background: url('../images/travel_icon.png') 0 0px no-repeat;
}

.links_travel.g_link img {
  background: url('../images/travel_icon.png') 0 0px no-repeat;
}

.links_travel.h_link img {
  background: url('../images/travel_icon.png') 0 0px no-repeat;
}

.links_travel.i_link img {
  background: url('../images/travel_icon.png') 0 0px no-repeat;
}

.links_travel.j_link img {
  background: url('../images/travel_icon.png') 0 0px no-repeat;
}

.links_travel.k_link img {
  background: url('../images/travel_icon.png') 0 0px no-repeat;
}

.links_travel.l_link img {
  background: url('../images/travel_icon.png') 0 0px no-repeat;
}

.links_travel.m_link img {
  background: url('../images/travel_icon.png') 0 0px no-repeat;
}

.links_travel.n_link img {
  background: url('../images/travel_icon.png') 0 0px no-repeat;
}

.links_travel.o_link img {
  background: url('../images/travel_icon.png') 0 0px no-repeat;
}

.links_travel.p_link img {
  background: url('../images/travel_icon.png') 0 0px no-repeat;
}

.sidebar {
    height: 100%;
    padding: 52px 25px;
    font-size: 12px;
}

.sidebar li {
    margin-top: 20px;
}

.side-heading {
    font-size: 14px;
    font-weight: bold;
}

.clear {
    clear: both;
}

.col-left {
    padding-bottom: 20px;
}

.heading {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
    padding-top: 10px;
}

.note {
  font-size: 18px !important;
  text-align: center;
}

footer{
  background: white;
  position: fixed !important;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 5px;
  font-size: 10px;
  text-align: right;
  color: black;
}

footer p {
  display: inline;
}

footer img {
  width: 15px;
}

footer a.bs img {
  width: 80px;
}

#carousel {
  margin-bottom: 20px;
}

.carousel .carousel-inner img {
  margin: auto;
}
.googleAd {
    margin: 30px auto;
}

section#works {
    background-image: url('../images/gallery.jpg');
}

section#aboutme.container {
    width: 100%;
}