html, body {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    background-color: #fbfbfb;
}

.my-nav a.navbar-brand {
    font-size: 22px;
    color: white;
}

.my-nav .collapse span {
    color: white;
}

.my-nav .navbar-collapse ul li a {
    /*font-size: 12px;*/
    color: white !important;
    text-decoration: none;
    cursor: pointer;
}

.section {
    height: 100vh;
    /*background: green;*/
    padding: 0;
    padding-top: 57px;
}

.hero {
    height: 100%;
    background: url("../images/hero.jpg") 0px bottom no-repeat;
    background-size: 250%;
}

.hero-text {
    text-align: center;
    color: black;
    padding-top: 20px;
}

.hero-text h1 {
    font-size: 25px;
}

.hero-text p {
    font-size: 15px;
}


@media (min-width: 320px) {
  .hero {
    background-size: 250%;
    background-position-x: -75px;
  }

  .carousel .carousel-inner .img{
      margin-left: -200px;
      height: 100%;
  }
}

@media (min-width: 360px) {
  .hero {
    background-size: 250%;
    background-position-x: -75px;
  }
}

@media (min-width: 412px) {
  .hero {
    background-size: 250%;
  }
}

@media (min-width: 440px) {
  .hero {
    background-size: 230%;
  }
}

@media (min-width: 490px) {
  .hero {
    background-size: 200%;
  }
}

@media (min-width: 580px) {
  .hero {
    background-size: 170%;
    background-position-x: 0px;
  }
}

@media (min-width: 650px) {
  .hero {
    background-size: 150%;
  }
}

@media (min-width: 768px) {
  .hero {
    background-size: 130%;
    background-position-x: 0;
  }
}

@media (min-width: 960px) {
  .hero {
    background-size: 110%;
    background-position-x: 0;
  }
  .carousel .carousel-inner .img{
      margin-left: 0;
  }
}

@media (min-width: 1025px) {
  .hero {
    background-size: 100%;
    background-position-x: 0;
  }
  .hero-text {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -70%);
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
  .hero {
    background-size: 200%;
  }
}

/*

.container {}

button.navbar-toggle {
    margin-right: 0px;
}


.hero .row {
    margin-left: 0;
    margin-right: 0;
    padding-top: 50px;
}


.body-sec {
    margin: 50px 0;
}

.col-left {
    padding-bottom: 20px;
}



.heading {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

.links {
    margin: 20px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 7px;
}

.links a {
    color: black;
    text-decoration: none;
}

.links:hover {
    border:solid 1px #333;
}

.a_link img {
    background: url('../images/home_icons.png') 0 0px no-repeat;
    height: 64px;
    width: 64px;
}

.b_link img {
    background: url('../images/home_icons.png') 0 -64px no-repeat;
    height: 64px;
    width: 64px;
}

.c_link img {
    background: url('../images/home_icons.png') 0 -128px no-repeat;
    height: 64px;
    width: 64px;
}

.d_link img {
    background: url('../images/home_icons.png') 0 -192px no-repeat;
    height: 64px;
    width: 64px;
}

.e_link img {
    background: url('../images/home_icons.png') 0 -256px no-repeat;
    height: 64px;
    width: 64px;
}

.f_link img {
    background: url('../images/home_icons.png') 0 -320px no-repeat;
    height: 64px;
    width: 64px;
}


.g_link img {
    background: url('../images/skills_icon.png') 0 0px no-repeat;
    height: 64px;
    width: 64px;
}

.h_link img {
    background: url('../images/skills_icon.png') 0 -64px no-repeat;
    height: 64px;
    width: 64px;
}

.i_link img {
    background: url('../images/skills_icon.png') 0 -128px no-repeat;
    height: 64px;
    width: 64px;
}

.j_link img {
    background: url('../images/skills_icon.png') 0 -192px no-repeat;
    height: 64px;
    width: 64px;
}

.k_link img {
    background: url('../images/skills_icon.png') 0 -256px no-repeat;
    height: 64px;
    width: 64px;
}

.l_link img {
    background: url('../images/skills_icon.png') 0 -320px no-repeat;
    height: 64px;
    width: 64px;
}

.sidebar {
    height: 100%;
    padding: 52px 25px;
}

.sidebar li {
    margin-top: 20px;
}

.side-heading {
    font-size: 14px;
    font-weight: bold;
}



#about #myCarousel .carousel-inner {
    max-height: 260px;
}

footer{
    width: 100%;
    background: white;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 15px;
    font-size: 10px;
    text-align: right;
    color: black;
}

footer p {
    display: inline;
}

footer img {
    width: 15px;
}

.clear {
    clear: both;
}

@media only screen and (max-width: 360px) {
    .hero {
        background-size: 200%;
    }
    .hero-text {
      margin-top: 50px;
    }
}

@media only screen and (max-width: 732px) {
    .hero {
        background-size: 190%;
    }
    .hero-text {
      margin-top: 40px;
    }
}

@media only screen and (min-width: 768px) {
    .hero {
        background-size: 100%;
    }
}

@media only screen and (max-width: 768px) and (max-height: 1024px) {
  .hero {
    background-size: 200%;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) {
  .hero {
    background-size: 200%;
  }
}*/
/*@media only screen and (min-width: 320px) and (max-width: 640px) {
    .hero {
        background-size: 125%;
        background-position-x: -80px;
    }
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
    .hero {
        background-size: 80%;
        background-position-x: -130px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .hero {
        background-position: bottom center;
        background-size: 120%;
    }
}

@media screen and (max-width: 767px) {
    .sidebar {
        border-top: solid 1px #ddd;
        border-left: none;
    }

    .a_link, .b_link, .c_link, .d_link, .e_link, .f_link {
        margin-left: 60px;
        margin-right: 60px;
    }

    .heading {
      font-size: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {

    .a_link, .b_link, .c_link, .d_link, .e_link, .f_link {
        margin: 15px;
    }

    .navbar-nav>li>a {
        padding: 14px;
    }
}*/
