html, body {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    background-color: #fbfbfb;
}

h1 {
  font-size: 25px !important;
}

.my-nav a.navbar-brand {
    font-size: 22px;
    color: white;
}

.my-nav .collapse span {
    color: white;
}

.my-nav .navbar-collapse ul li a {
    color: white !important;
    text-decoration: none;
}

section {
    min-height: 100vh;
    padding-top: 57px;
}

#home {
  height: 100vh;
}

.hero {
    height: 100%;
    background: url("../images/hero.jpg") left bottom no-repeat;
}

.hero-text {
    text-align: center;
    color: black;
    padding-top: 20px;
}

.hero-text h1 {
    font-size: 25px;
}

.hero-text p {
    font-size: 15px;
}

.sec {
    padding: 0 20px;
    margin-top: 20px;
    background: #fbfbfb;
}

.links {
    margin: 20px 40px;
    margin-left: auto;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 7px;
    background: white;
    min-width: 100px;
}

.links a {
    color: black;
    text-decoration: none;
}

.links:hover {
    border:solid 1px #333;
}

.a_link img {
    background: url('../images/home_icons.png') 0 0px no-repeat;
    height: 64px;
    width: 64px;
}

.b_link img {
    background: url('../images/home_icons.png') 0 -64px no-repeat;
    height: 64px;
    width: 64px;
}

.c_link img {
    background: url('../images/home_icons.png') 0 -128px no-repeat;
    height: 64px;
    width: 64px;
}

.d_link img {
    background: url('../images/home_icons.png') 0 -192px no-repeat;
    height: 64px;
    width: 64px;
}

.e_link img {
    background: url('../images/home_icons.png') 0 -256px no-repeat;
    height: 64px;
    width: 64px;
}

.f_link img {
    background: url('../images/home_icons.png') 0 -320px no-repeat;
    height: 64px;
    width: 64px;
}

.g_link img {
    background: url('../images/skills_icon.png') 0 0px no-repeat;
    height: 64px;
    width: 64px;
}

.h_link img {
    background: url('../images/skills_icon.png') 0 -64px no-repeat;
    height: 64px;
    width: 64px;
}

.i_link img {
    background: url('../images/skills_icon.png') 0 -128px no-repeat;
    height: 64px;
    width: 64px;
}

.j_link img {
    background: url('../images/skills_icon.png') 0 -192px no-repeat;
    height: 64px;
    width: 64px;
}

.k_link img {
    background: url('../images/skills_icon.png') 0 -256px no-repeat;
    height: 64px;
    width: 64px;
}

.l_link img {
    background: url('../images/skills_icon.png') 0 -320px no-repeat;
    height: 64px;
    width: 64px;
}

.sidebar {
    height: 100%;
    padding: 52px 25px;
    font-size: 12px;
}

.sidebar li {
    margin-top: 20px;
}

.side-heading {
    font-size: 14px;
    font-weight: bold;
}

.clear {
    clear: both;
}

.col-left {
    padding-bottom: 20px;
}

.heading {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

footer{
  background: white;
  position: fixed !important;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 15px;
  font-size: 10px;
  text-align: right;
  color: black;
}

footer p {
  display: inline;
}

footer img {
  width: 15px;
}

#carousel {
  margin-bottom: 20px;
}
